

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}
.left-column .heading{
    color: rgb(242, 242, 242);
    align-items: center;
    justify-content: center;
}
.login-body {
    display: flex;
    height: 100%;
    background-color: hsl(0, 0%, 20%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 200px;
    gap: 10px;
    
    
}

.right-column {
    flex: 2;
    background-image: url('../assets/constructor.png'); /* Specify your image path */
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat; /* Prevent image from repeating */
}
