.body {
  background-color: #e6701c;
  min-height: 100%;
  height: max-content;
  display: flex;
}

#main-body{
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: rgb(255, 255, 255);
}
#body{
  width: 83vw;
  margin-left: 15vw;
  height: 100%;
}
