.sidebar-container {
  background-color: #ffffff;
  max-width: 15vw;
  min-width: 250px;
  border-radius: 0px 20px 20px 0px;
}
.backdrop.show{
  background-color: red;
}

.close-button {
  position: absolute;
  margin-top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding: 0px;
  border: solid rgba(255, 255, 255, 0.243) 1px;
  border-radius: 30%;
}
.close-button:hover {
  border: transparent;
  transition: transform 0.5s ease;
}
.close-button:hover {
   /* Rotate the button icon 90 degrees */
  background-color: #cecececd;
  transition: 500ms ease-in-out;
}

.open-button::after {
  display: none;
  transition: 1ms ease-in-out;
}
.open-button:hover {
  background-color: #8548ee44;
  transition: 300ms ease-in-out;
}
.offcanvas-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 12px;
}

.offcanvas-header .header-text {
  flex: 1; /* Make the header text section take up remaining space */
  padding-left: 10px;
}
.header-text h4,
h6 {
  font-weight: 700;
  margin-bottom: 0px;
  color: #939393;
}


.offcanvas-header .profile-image {
  width: 20%; /* Adjust the width of the profile image as needed */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  margin: auto; /* Center the image horizontally */
}

.offcanvas-body {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: left;
  padding-top: 5vh;
  margin: 0px;
  padding: 10px 5px auto 5px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-2.5px);
  }
}

.bounce {
  animation: bounce 1s ease infinite;
}
