.category-button {
  background-color: transparent;
  border-radius: 0px 20px 20px 0px;
  position: relative; /* Ensure proper positioning of the attachment icon */
}

.attachment {
  display: none;
  position: absolute; /* Position the attachment icon relative to its container */
  top: 50%; /* Center vertically */
  right: 5px; 
  transform: translateY(-50%); /* Center vertically */
}

.category-button:hover .attachment {
  display: inline-block;
}

.category-button:hover {
  border: 1px solid white;
  transition: border 300ms ; /* Apply transition only to border */
}

.cat {
  color: red;
}
